//
// Home Page View
// -----------------------------------------------------


#homepage {

	#content1 {
		background-color: lighten(yellow, 20%);
	}
	#content2 {
		background-color: lighten(red, 20%);
	}
	#content3 {
		background-color: lighten(green, 40%);
	}
	#content4 {
		background-color: lighten(blue, 30%);
	}
	#content5 {
		background-color: lighten(orange, 15%);
	}
	#content6 {
		background-color: lighten(purple, 30%);
	}

}
